<nav class="navbar-material">
  <div class="nav-wrapper indigo darken-4">
    <a href="./profile.html" class="brand-logo" id="nav-title"><img class="nav-logo" src="/images/nav-logo.png"/></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./create.html" id="nickname">User Name</a></li>
      <li class="profile-img circle responsive-img"><img alt="avatar" id="avatar"></li>
      <li><a class="waves-effect waves-light btn" type="submit" id="btn-logout">Sign Out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="./create.html" id="nickname">User Name</a></li>
      <li class="profile-img circle responsive-img"><img alt="avatar" id="avatar" ></li>
      <li><a class="waves-effect waves-light btn" type="submit" id="btn-logout">Sign Out</a></li>
    </ul>
  </div>
</nav>

<script>

// window.addEventListener('load', function() {

  var btn_logout = document.getElementById('btn-logout');

  btn_logout.addEventListener('click', function() {
    console.log("something");
    logout();
  });

  //retrieve the profile:
  var retrieve_profile = function() {

    var access_token = localStorage.getItem('access_token');
    if (access_token) {
      lock.getUserInfo(access_token, function (err, profile) {
        if (err) {
          return alert('There was an error getting the profile: ' + err.message);
        }
        // Display user information
        show_profile_info(profile)
      })
    }
  }

  var show_profile_info = function(profile) {
    var avatar = document.getElementById('avatar');
    document.getElementById('nickname').textContent = profile.nickname;
    avatar.src = profile.picture;
    avatar.style.display = "block";
  };

  var logout = function() {
    localStorage.removeItem('access_token');
    window.location.href = "/";
  };

  retrieve_profile()

// });

</script>
