<nav class="navbar-material">
  <div class="nav-wrapper indigo darken-4">
    <a href="./profile.html" class="brand-logo" id="nav-title"><img class="nav-logo" src="/images/nav-logo.png"/></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./create.html" id="nickname1"></a></li>
      <li class="profile-img1"></li>
      <li><a class="waves-effect waves-light btn" type="submit" id="btn-logout-desktop">Sign Out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo" style="text-align:center;">
      <li><a href="./create.html" id="nickname2"></a></li>
      <li class="profile-img2"></li>
      <li><a class="waves-effect waves-light btn" type="submit" id="btn-logout-mobile">Sign Out</a></li>
    </ul>
  </div>
</nav>

<script>

// window.addEventListener('load', function() {
  var btn_logout_desktop = document.getElementById('btn-logout-desktop');

  btn_logout_desktop.addEventListener('click', function() {
    console.log("desktop");
    logout();
  });

  var btn_logout_mobile = document.getElementById('btn-logout-mobile');

  btn_logout_mobile.addEventListener('click', function() {
    console.log("mobile");
    logout();
  });

  //retrieve the profile:
  var retrieve_profile = function() {

    var access_token = localStorage.getItem('access_token');
    var user = localStorage.getItem('profile')
    var profile = JSON.parse(user)

    // $('<img src="'+ profile.picture +'">').load(function() {
    //   $(this).appendTo('#avatar1');
    // });

    $('.profile-img1').append('<img src="' + profile.picture + '" class="circle responsive-img">');
    $('.profile-img2').append('<img src="' + profile.picture + '" class="circle " style="height: 140px; width: 140px;">');
    // $('#avatar2').append(profile.picture)
    $('#nickname1').append(profile.name)
    $('#nickname2').append(profile.name)
  }



  var logout = function() {
    localStorage.removeItem('access_token');
    window.location.href = "/";
  };

  retrieve_profile()

// });

</script>
