<nav class="navbar-material">
  <div class="nav-wrapper indigo darken-4">
    <a href="./profile.html" class="brand-logo" id="nav-title"><img class="nav-logo" src="/images/nav-logo.png"/></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./create.html" id="nickname">User Name</a></li>
      <li class="profile-img circle responsive-img"><img alt="avatar" id="avatar"></li>
      <li><a class="waves-effect waves-light btn" type="submit" id="btn-logout">Sign Out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="./create.html" id="nickname">User Name</a></li>
      <li class="profile-img circle responsive-img"><img alt="avatar" id="avatar"></li>
      <li><a class="waves-effect waves-light btn" type="submit" id="btn-logout">Sign Out</a></li>
    </ul>
  </div>
</nav>
