<nav class="navbar-material">
  <div class="nav-wrapper indigo darken-4">
    <a href="#!" class="brand-logo" id="nav-title"><img class="nav-logo" src="/images/nav-logo.png"/></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./index.html">User Name</a></li>
      <li class="profile-img"><img src=" http://placehold.it/44x44.jpg" alt="" class="circle responsive-img"></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="./index.html">User Name</a></li>
      <li class="profile-img"><img src=" http://placehold.it/44x44.jpg" alt="" class="circle responsive-img"></li>
    </ul>
  </div>
</nav>
