.greeting {
  color: darkslategrey;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14pt;
  font-family: 'Josefin Sans', sans-serif;
}

.hero {
  font-size: 20pt;
}

.voteContainerWhole {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  border-radius: 4px;
}

.voteContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
  border-bottom: 3px solid darkgrey;
  border-radius: 5px;
}

#sentMain {
  height: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.vote {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  background: none;
  border-radius: 4px;
}

.redColor {
  background-color: #ff7d66;
}

.greenColor {
  background-color:#6fdc6f;
}

.sendBackButton {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 20px;
  height: 40px;
  border: none;
  background: #6fdc6f;
  color: white;
  width: 100%;
  font-size: 14pt;
}

.sendDate {
  font-size: 15pt;
}

select {
  font-family: 'Josefin Sans', sans-serif;
  height: 40px;
  width: 80px;
  bor
}
